body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header-logo,
.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2e2f42;
  font-size: 18px;
}

.accent {
  color: #4d5ae5;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
}

.nav-link.active {
  color: #404bbf;
  border-bottom: 4px solid #404bbf;
  padding-bottom: 2px;
}

.address-link {
  color: #434455;
  font-weight: 400;
}

.nav-link:hover,
.address-link:hover {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
}

.order-button:hover {
  background-color: #404bbf;
}

.features-title {
  text-align: start;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #2e2f42;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
}

.team-list-item {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
